/*====================================
    Fonts
====================================*/

@font-face {
    font-family: "Druk Regular";
    src: url("../shared/fonts/DRUK\ WIDE\ WEB\ SUPER\ REGULAR.TTF");
  }
  
  @font-face {
    font-family: "Druk Bold";
    src: url("../shared/fonts/DRUK\ WIDE\ WEB\ BOLD\ REGULAR.TTF");
  }
  
  @font-face {
    font-family: "Druk Medium";
    src: url("../shared/fonts/DRUK WIDE WEB MEDIUM REGULAR.TTF");
  }
  
  @font-face {
    font-family: "Inter Black";
    src: url("../shared/fonts/INTER-BLACK.TTF");
  }
  
  @font-face {
    font-family: "Inter Bold";
    src: url("../shared/fonts/INTER-BOLD.TTF");
  }
  
  @font-face {
    font-family: "Inter Extra Bold";
    src: url("../shared/fonts/INTER-EXTRABOLD.TTF");
  }
  
  @font-face {
    font-family: "Inter Extra Light";
    src: url("../shared/fonts/INTER-EXTRALIGHT.TTF");
  }
  
  @font-face {
    font-family: "Inter Light";
    src: url("../shared/fonts/INTER-LIGHT.TTF");
  }
  
  @font-face {
    font-family: "Inter Medium";
    src: url("../shared/fonts/INTER-MEDIUM.TTF");
  }
  
  @font-face {
    font-family: "Inter Regular";
    src: url("../shared/fonts/INTER-REGULAR.TTF");
  }
  
  @font-face {
    font-family: "Inter Semibold";
    src: url("../shared/fonts/INTER-SEMIBOLD.TTF");
  }
  
  @font-face {
    font-family: "Inter Thin";
    src: url("../shared/fonts/INTER-THIN.TTF");
  }
  