@import '../../../styles/mixins.scss';
@import '../../../styles/fonts.scss';

.container {
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
        width: 60%;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 0 20px;
    }
}

.form_login > div {
    border-bottom: none;
}

.form_inp {
    background-color: #E5E5E5;
    border: none;
    border-bottom: 1.5px solid #000000;
    padding: 11px 0;
    margin-bottom: 37px;
    width: 100%;
    font-size: 20px;
    font-family: "Inter Regular";
    font-weight: 400;
    padding-left: 10px;
    
    @include breakpoint-reverse(tablet) {
        width: 490px;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: "Inter Regular";
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
}

.submit_btn {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    width: fit-content;
    padding: 10px 16px;

    @include breakpoint(mobile) {
        font-size: 16px;
        line-height: 16px;
    }
}