@import '../../../styles/mixins.scss';
@import '../../../styles/fonts.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 0 45px;

    @include breakpoint(mobile) {
        bottom: 10px;
        padding: 0 20px;
    }
}

.copyright {
    font-family: "Inter Light";
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: white;
    mix-blend-mode: difference;
    margin: 0;

    @include breakpoint(mobile) {
        font-size: 8px;
        line-height: 10px;
    }
}

.logo_footer_desktop {
    width: 118px;
    height: 33px;
    position: relative;

    @include breakpoint(mobile) {
        display: none;
    }
}

.logo_footer_mobile {
    width: 61px;
    height: 17px;
    position: relative;

    @include breakpoint-reverse(mobile) {
        display: none;
    }
}